.nav {
  display: flex;
  position: relative;
  height: 100px;
  top: 0px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-top: 10px;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 99;
  transition: background-color 0.3s ease-in-out;
}

.nav:hover {
  background-color: white;
}
.logo {
  position: relative;
  top: -5px;
}
.nav__container {
  width: 90%;
  display: flex;
  justify-content: center;
  /* overflow: auto; */
  text-align: center;
}
.nav__container-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav__container-header:not(:last-child) {
  margin-right: 100px;
}
.nav__container-header a {
  font-size: 20px;
  font-weight: 450;
  color: rgba(255, 255, 255, 0.8);
}
.link-color-black {
  color: red;
}
.header__subtitle {
  position: absolute;
  flex-wrap: wrap;
  flex-direction: column;
  display: flex;
  opacity: 0;
  height: auto;
  padding-top: 20px;
  top: 270%;
  width: 130px;
  background-color: white;
  transition: all 0.3s ease-in-out;
}
.nav .nav__container .nav__container-header:hover .header__subtitle {
  display: flex;
  opacity: 1;
  background-color: white;
  border-top: 0.5px solid var(--text-color);
}
.unname {
  display: flex;
}

.header__subtitle li {
  margin-bottom: 18px;
}
.header__subtitle li a {
  font-size: 15px;
  font-weight: 500;
}
.header__subtitle li a:hover {
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.6);
  text-underline-offset: 0.4em;
}
