.nav {
  display: flex;
  position: fixed;
  top: 0px;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
.logo {
  position: relative;
  top: -5px;
}
.nav__container {
  width: 90%;
  display: flex;
  justify-content: center;
  overflow: auto;
}
.nav__container-header:not(:last-child) {
  margin-right: 60px;
}
.nav__container-header a {
  font-size: 20px;
  font-weight: 450;
}
.header__subtitle {
  display: none;
}
