@import "./reset.css";
@import "./background-video.css";
@import "./component/nav-bar.css";
@import "./variable.css";
body {
  color: black;
  height: 1000vh;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Noto Sans KR", sans-serif;
}

.video-wrap {
  position: absolute;
  top: 0px;
  z-index: 3;
}
.img-wrap img {
  opacity: 0.1;
  position: fixed;
  top: 0;
  z-index: 0;
}
