@import "./reset.css";
@import "./background-video.css";
@import "./component/nav-bar.css";
@import "./variable.css";
body {
  background-color: beige;
  color: black;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-family: "Noto Sans KR", sans-serif;
}

.video-wrap {
  position: fixed;
  z-index: 1;
}
